<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Verification</title>
    style
        include ../static/style.css
</head>
<body>
    <div class="container">
        <h1>This certificate is verified</h1>
        <p>This cerificate is verified.It is issued on the name of <b>#{name}</b> whose email id is <b>#{email}</b> and specialisation was <b>#{spec}</b></p>
    </div>
</body>
</html>