<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Verification</title>
    style
        include ../static/style.css
</head>
<body>
    <div class="container">
        <h1>This certificate is not verified</h1>
        <p>This certificate is not in our database. If you think this is a mistake, kindly report to us</p>
    </div>
</body>
</html>